* {
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(234, 234, 234);
}

body {
  padding: 60px;
}

input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(97, 32, 158);
  color: black;
  font-size: 1.2rem;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 3rem;
  margin-bottom: 5px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.card {
  flex: 1 0 auto;
  align-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.card p {
  background-color: white;
  flex: 1;
  margin-top: 5px;
  padding: 5px 20px 0px 20px;
  text-align: center;
}

.card img {
  width: 100%;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

form {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

input {
  flex: 2 1 25ch;
}

input[type="submit"] {
  flex-grow: 1 ;
  background: hotpink;
  color: white;
  box-shadow: 0 .75rem .5rem -.5rem hsl(0 50% 80%);
}

input {
  border: none;
  background: rgb(255, 255, 255);
  border-radius: .25rem;
  padding: .75rem 1rem;
}